<button class="back-btn" (click)="goBack()">Volver atrás</button>
<div class="filter-container">
  <label for="filter">Filtrar por nombre u origen:</label>
  <input id="filter" type="text" [(ngModel)]="filterText" placeholder="Buscar raza..." (keydown.enter)="onSearch()"/>
  <button (click)="onSearch()">Buscar</button>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Origen</th>
      <th>Peso</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let breed of breeds | filterBreeds:searchText">
      <td>{{ breed.breed_name }}</td>
      <td>{{ breed.breed_origin }}</td>
      <td>{{ breed.breed_weight }} kg</td>
      <td>{{ breed.breed_description }}</td>
    </tr>
  </tbody>
</table>